---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Principal from '../sections/Principal.astro';
import Servicios from '../sections/Servicios.astro';
import Nosotros from '../sections/Nosotros.astro';
import Porque from '../sections/Porque.astro';
import FaQ from '../sections/FaQ.astro';
import Contacto from '../sections/Contacto.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Welcome to Astro.">
  <NavBar />
  <main>
	<Principal />
  <Servicios />
  <Nosotros />
  <Porque />
  <FaQ />
  <Contacto />
  <Footer />
  </main>
</Layout>