---
import { Nav } from "./Nav";
const props = Astro.props;
---

<section
  class="flex justify-center w-full bg-green"
>
<div class="grid grid-cols-2  md:max-w-[480px] py-3 lg:max-w-6xl w-full px-[40px] md:px-0 lg:px-0 text-white">
  <a href="asa" class="flex items-center gap-1 text-[14px] md:text-[1rem] font-medium">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1em"
      height="1em"
      class="text-sea font-bold text-[14px] md:text-2xl"
      viewBox="0 0 24 24"
      style="min-width: 24px;"
      {...props}
    >
      <path
        fill="currentColor"
        d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"
      ></path>
    </svg>     info@rminfraestructura.pe
</a>
<a href="asa" class="flex items-center gap-1 text-[14px]  md:text-[1rem] justify-end lg:justify-end font-medium">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1em"
      height="1em"
      viewBox="0 0 24 24"
      class="text-sea font-bold text-[14px] md:text-2xl"
      {...props}
    >
      <path
        fill="currentColor"
        d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"
      ></path>
    </svg> +51 944 403 668
</a>
</div>
</section>
<Nav client:visible />
