---
import { FaqItems } from "../components/FaqItems";
 
---

<section class="flex  justify-center">
    <div class="grid grid-cols-1 py-10 md:max-w-[480px] lg:grid-cols-1 lg:py-20 lg:max-w-6xl w-full px-[40px] md:px-0 lg:px-0">
        <div class="flex items-center justify-center gap-2">
            <span class="h-[3px] w-[40px] bg-valencia col-span-1"></span>
            <h3 class="col-span-4 font-bold tracking-tight text-black">¿TIENES DUDAS?</h3>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h2 class="font-black leading-none text-[42px] text-black" style={{letterSpacing: '-1.9px'}}>
                Preguntas <span class="text-green">frecuentes</span>
            </h2>
        </div>
        <div class="grid mt-4">
            <FaqItems client:visible/>
        </div>
    </div>

</section>