---

---
<section class="w-full">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.197258738036!2d-76.95125951450385!3d-12.02993681116059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c423f2631ad5%3A0x8665762a76ff0614!2sC.%2016%2C%20Santa%20Anita%2015011!5e0!3m2!1ses!2spe!4v1720590891433!5m2!1ses!2spe" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<section class="flex justify-center bg-sea bg-opacity-30">
  <div
    class="grid grid-cols-1 py-10 md:max-w-[480px] lg:grid-cols-1 lg:py-10 lg:max-w-6xl w-full px-[40px] md:px-0 lg:px-0"
  >
    <div class="grid"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div >
        <div class="font-black text-xl">Secciones</div>
        <ul class="mt-4">
          <li><a href="" class="font-semibold">Inicio</a></li>
          <li><a href="" class="font-semibold">Nosotros</a></li>
          <li><a href="" class="font-semibold">Servicios</a></li>
          <li><a href="" class="font-semibold">Contactos</a></li>
        </ul>
      </div>
      <div >
        <div class="font-black text-xl">Contactos</div>
        <ul class="mt-4">
          <li><a href=""><strong>Ubicación: </strong>Calle 16 Mz “LL” Lote 33 – Alameda de Ate II Etapa Santa
            Anita</a></li>
          <li>
            <a href="" class=""
              ><strong>Teléfono: </strong>+51 944 403 668</a
            >
          </li>
          <li>
            <a href="" class=""
              ><strong>Email: </strong>info@rminfraestructura.pe</a
            >
          </li>
        </ul>
      </div>
      <div>
        <div class="font-black text-xl">Sobre nosotros</div>
        <ul class="mt-4">
          <li><a href=""><strong>RUC: </strong>20609632934</a></li>
          <li><a href=""><strong>Razón social: </strong>RM INFRAESTRUCTURA S.A.C</a></li>
          <li><a href=""><strong>Dirección: </strong>Calle 16 Mz “LL” Lote 33 – Alameda de Ate II Etapa Santa
            Anita</a></li>

        </ul>
      </div>
    </div>
  </div>
</section>
<section class="flex justify-center bg-black">
  <div
    class="grid grid-cols-1 py-4 md:max-w-[480px] lg:grid-cols-1 lg:py-10 lg:max-w-6xl w-full px-[40px] md:px-0 lg:px-0 relative z-50"
  >
    <p class="text-white text-center">@ 2024 All Rights Reserved.</p>
    <p class="text-white text-center">
      Designed by <a href="" class="text-sea">....0.2</a>
    </p>
  </div>
</section>
