---

---

<section class="flex w-full justify-center">
  <div
    class="grid grid-cols-1 py-10 md:max-w-[480px] lg:grid-cols-1 lg:py-10 lg:max-w-6xl w-full px-[40px] md:px-0 lg:px-0"
  >
    <div>
      <div class="flex items-center justify-center gap-2">
        <span class="h-[2.5px] w-[40px] bg-sea"></span>
        <h3 class="col-span-4 font-bold tracking-tight">QUÉ HACEMOS</h3>
      </div>
      <div class="flex flex-col justify-center items-center">
        <h2
          class="text-black font-black leading-none text-[42px]"
          style={{ letterSpacing: "-1.9px" }}
        >
          Sobre <span class="text-green"> nosotros </span>
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 items-center mt-8 gap-4">
        <div class="text grid">
          <p class="text-parrafo text-[18px] mt-4 leading-[1.5em] font-normal">
            Somos una empresa dedicada a la mejora continua en ingeniería,
            remodelación y mantenimiento que busca soluciones integrales de
            excelencia.
            <br />
            Contamos con personal profesional y técnicos expertos y confiables en
            servicios de mantenimiento y remodelaciones, quienes desarrollan su labor
            bajo la dirección de profesionales en gestión y proyectos con experiencia
            en el sector corporativo y Retail.
            <br />
            Nos caracterizamos por los años de experiencia de nuestro eje principal
            de funcionamiento, el cual es nuestro capital Humano, quienes cuentan
            con más de 10 años de experiencia.
            <br />
          </p>
          <div class="mt-5">
            <a
              href="https://wa.link/zttij9"
              target="_blank"
              class="bg-green rounded-lg px-5 py-3 hover:bg-sea hover:text-black transition-all gap-1 font-bold text-white leading-none mt-4"
            >
              Contatar asesor
            </a>
          </div>
        </div>
        <div class="img-cont">
          <img
            src="images/works.jpg"
            class="rounded shadow-md"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
